[submodule "CLI11"]
	path = CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "ext/CLI11"]
	path = ext/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "ext/bulk"]
	path = ext/bulk
	url = https://github.com/jwbuurlage/bulk.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
